body{
    margin:0;
    padding:0;
    background-color: grey; 
}
.carrito{
    color: white;
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px; 
}
.aniadirCarrito{
    
}
.carrito:hover{
    background-color: white;
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.barra-categorias{
	background-color:white;
   	color:black;
}
.container{
  	margin-top: 5px; 
    background-color: red;
}
.main{
    display:flex;
    justify-content: space-around;
    background-color: blue;
}
/* img < #producto{
	
} */
.casillas{
    height:500px;
    
}
.casillas > img{
  background-position: center; 
  background-size: cover;
}
.titulo{
    color: white
    
}
.div-boton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 10px 0px;
}
.card-body{
    position: relative;
}
/* COMPRAR.HTML */
/* #total{
    
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
.precio-total{
    position: fixed;
    bottom: 0;
    right: 0;
}
.boton{
    position: fixed;
    bottom: 0;
    right: 0: 
} */